# -----------------------------------
# Python
# -----------------------------------

__pycache__/
*.py[cod]
*$py.class

# -----------------------------------
# Virtual Environment
# -----------------------------------

venv/
env/
ENV/

# -----------------------------------
# Jupyter
# -----------------------------------

.ipynb_checkpoints/

# -----------------------------------
# Streamlit
# -----------------------------------

.streamlit/

# -----------------------------------
# Uploaded Files
# -----------------------------------

uploads/*
!uploads/.gitkeep

# -----------------------------------
# Temporary Audio Files
# -----------------------------------

temp_audio.wav

# -----------------------------------
# OS Files
# -----------------------------------

.DS_Store
Thumbs.db

# -----------------------------------
# IDE
# -----------------------------------

.vscode/
.idea/

# -----------------------------------
# Logs
# -----------------------------------

*.log

# -----------------------------------
# Build Files
# -----------------------------------

build/
dist/

# -----------------------------------
# Cache
# -----------------------------------

.pytest_cache/
.mypy_cache/